body {
  background: center/cover
    url("../assets/crew/background-crew-desktop.jpg");
  background-attachment: fixed;
}

h5 {
  color: #ffffff;
}

.logo {
  left: 65px;
  position: absolute;
  top: 75px;
}

.nav-hr {
  border-top: none;
  position: absolute;
  top: 90px;
  right: 795px;
  z-index: 1;
  left: 170px;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.04);
  display: flex;
  height: 96px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50px;
  text-align: center;
  width: 830px;
}

.nav-bar::before {
  background-color: rgba(255, 255, 255, 0.04);
  content: "";
  filter: blur(1px);
  height: 96px;
  position: inherit;
  width: 830px;
}

.nav-text {
  align-items: center;
  display: flex;
  margin: 0 25px;
  position: relative;
  text-decoration: none;
}

.nav-text:hover {
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.nav-number {
  margin-right: 5px;
}

.nav-active {
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid #ffffff;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 0 170px;
  position: relative;
  top: 15rem;
}

.crew-heading {
  font-weight: 400;
  margin: 0 0 10rem;
}

.crew-heading-number {
  font-weight: bold;
  opacity: 0.25;
  padding-right: 25px;
}

.crew-heading-title {
  margin: 0 0 1.5rem;
  opacity: 0.5;
  text-transform: uppercase;
}

.crew-heading-name {
  margin: 0 0 2rem;
}

.crew-description {
  color: #D0D6F9;
  line-height: 2;
  width: 444px;
}

.crew-navbar {
  margin-top: 8rem;
}

.crew-nav-link {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin: 0 15px 0;
  opacity: 0.17;
  width: 15px;
} 

.crew-nav-link:first-child {
  margin: 0 15px 0 0;
} 

.active {
  opacity: 1;
}

.crew-nav-link:hover {
  opacity: 0.5;
}