body {
  background: center/cover
    url("../assets/destination/background-destination-desktop.jpg");
  background-attachment: fixed;
}

h5 {
  color: #ffffff;
}

.logo {
  left: 65px;
  position: absolute;
  top: 75px;
}

.nav-hr {
  border-top: none;
  display: inherit;
  position: absolute;
  top: 90px;
  right: 795px;
  z-index: 1;
  left: 170px;
}

.nav-hamburger {
  visibility: hidden;
}

.nav-hamburger-close {
  visibility: hidden;
}

.nav-side-menu {
  visibility: hidden;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.04);
  display: flex;
  height: 96px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50px;
  text-align: center;
  width: 830px;
}

.nav-bar::before {
  background-color: rgba(255, 255, 255, 0.04);
  content: "";
  filter: blur(1px);
  height: 96px;
  position: inherit;
  width: 830px;
}

.nav-text {
  align-items: center;
  display: flex;
  margin: 0 25px;
  position: relative;
  text-decoration: none;
}

.nav-text:hover {
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.nav-number {
  margin-right: 5px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 0 170px;
  position: relative;
  top: 15rem;
}

.section-left {
}

.section-right {
  padding: 10rem 0 0 5rem;
}

.header-text {
  opacity: 0.25;
  padding-right: 25px;
}

.planet-image {
  padding: 5rem 5rem 0 5rem;
}

.destination-nav {
  display: flex;
  height: 2.5rem;
}

.destination-nav-text {
  color: #d0d6f9;
  border-top: 3px solid rgba(255, 255, 255, 0);
  margin: 0 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.destination-nav-active {
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
}

.nav-active {
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
}

.destination-nav-text:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

a.destination-nav-text:first-child {
  margin: 0 15px 0 0;
}

.destination-heading {
  font-weight: lighter;
  margin: 2.5rem 0;
}

.destination-hr {
  border-top: none;
  border: 1px solid #383b4b;
  margin: auto 0 2rem;
}

p.description {
  color: #d0d6f9;
  line-height: 2;
  margin: auto 0 4rem;
}

.bottom-description-container {
  display: flex;
}

.distance {
  display: grid;
  width: 50%;
}

.travel {
  display: grid;
  width: 50%;
}

.distance-heading {
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 2.36px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.distance-value {
  font-family: "Bellefair", serif;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.travel-heading {
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 2.36px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.travel-value {
  font-family: "Bellefair", serif;
  font-size: 1.75rem;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  body {
    background: center/cover
      url("../assets/destination/background-destination-mobile.jpg");
    background-attachment: fixed;
  }

  h2 {
    font-size: 3.5rem;
  }

  h5 {
    font-size: 1rem;
    letter-spacing: 2.7px;
  }

  .logo {
    left: 24px;
    top: 24px;
  }

  .nav-hr {
    display: none;
  }

  .nav-bar {
    display: none;
  }

  .nav-hamburger {
    position: absolute;
    right: 25px;
    top: 38px;
    visibility: visible;
    z-index: 1;
  }

  .nav-hamburger-close {
    position: fixed;
    right: 25px;
    top: 38px;
  }

  .hide {
    visibility: hidden;
  }

  .show {
    visibility: visible;
  }

  .nav-bar {
    visibility: hidden;
  }

  .nav-side-menu {
    background: linear-gradient(
      to right bottom,
      rgb(11, 13, 23, 0.9),
      rgba(208, 214, 249, 0.9) 180%
    );
    bottom: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.25s;
    transition-property: opacity, visibility, width;
    visibility: hidden;
    width: 50%;
  }

  .close-menu {
    opacity: 0;
    visibility: hidden;
    width: 50%;
  }

  .open-menu {
    opacity: 1;
    visibility: visible;
    width: 65%;
  }

  .nav-side-menu::before {
    background-color: rgba(255, 255, 255, 0.04);
    filter: blur(1px);
    bottom: 0;
    position: inherit;
    right: 0;
    top: 0;
    width: 100%;
  }

  .nav-side-menu-content {
    position: relative;
    padding-left: 15%;
    top: 145px;
  }

  .nav-text {
    height: 30px;
    letter-spacing: 2.7px;
    line-height: 19.2px;
    margin: 0 0 32px 0;
    text-decoration: none;
  }

  .nav-text:hover {
    border-top: 0;
    border-bottom: 0;
  }
  
  .nav-active {
    border-top: 0;
    border-bottom: 0;
    border-right: 4px solid #fff;
  }

  .bottom-container {
    display: block;
    padding: 0 25px;
    text-align: center;
    top: 75px;
  }

  .section-right {
    margin: 50px auto 0;
    padding: 0 0 60px 0;
    text-align: center;
    width: 85%;
  }

  .planet-image {
    height: 170px;
    padding: 50px 0 0;
    width: 170px;
  }

  .destination-nav {
    justify-content: center;
  }

  .destination-nav-text {
    font-size: 0.875rem;
    letter-spacing: 2.36px;
  }

  p.description {
    font-size: 0.9375rem;
    line-height: 25px;
  }

  .bottom-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .destination-hr {
    margin-bottom: 50px;
  }

  .distance {
    padding-bottom: 50px;
  }

  .distance-heading {
    line-height: 16.8px;
    letter-spacing: 2.36px;
  }

  .distance-value {
    line-height: 32.09px;
  }
}

@media screen and (max-width: 1080px) and (min-width: 800px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  body {
    background: center/cover
      url("../assets/destination/background-destination-tablet.jpg");
    background-attachment: fixed;
  }

  h2 {
    font-size: 5rem;
  }

  h5 {
    font-size: 1.25rem;
    text-align: left;
  }

  .logo {
    top: 25px;
    left: 35px;
  }

  .nav-hr {
    display: none;
  }

  .nav-bar {
    top: 0;
    width: 65%;
    z-index: 3;
  }

  .nav-bar::before {
    width: 100%;
    z-index: 2;
  }

  .nav-number {
    display: none;
  }

  .nav-text {
    font-size: 0.875rem;
    margin: 0 15px;
    z-index: 3;
  }

  .bottom-container {
    display: block;
    padding: 0 34px;
    top: 135px;
    z-index: 1;
  }

  .section-left {
    text-align: center;
  }

  .section-right {
    margin: 60px auto 0;
    padding: 0 0 60px 0;
    text-align: center;
    width: 85%;
  }

  .planet-image {
    padding: 60px 0 0;
    width: 300px;
  }

  .destination-nav {
    font-size: 1rem;
    justify-content: center;
  }

  p.description {
    font-size: 1rem;
  }

  .distance-heading {
    margin-bottom: 1rem;
  }
}
