body {
  background: center/cover url("../assets/home/background-home-desktop.jpg");
  background-attachment: fixed;
}

.logo {
  left: 65px;
  position: absolute;
  top: 75px;
}

.nav-hr {
  border-top: none;
  position: absolute;
  top: 90px;
  right: 795px;
  z-index: 1;
  left: 170px;
}

.nav-hamburger {
  visibility: hidden;
}

.nav-hamburger-close {
  visibility: hidden;
}

.nav-side-menu {
  visibility: hidden;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.04);
  display: flex;
  height: 96px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50px;
  text-align: center;
  width: 830px;
}

.nav-bar::before {
  background-color: rgba(255, 255, 255, 0.04);
  content: "";
  filter: blur(1px);
  height: 96px;
  position: inherit;
  width: 830px;
}

.nav-text {
  align-items: center;
  display: flex;
  margin: 0 25px;
  position: relative;
  text-decoration: none;
}

.nav-text:hover {
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.nav-number {
  margin-right: 5px;
}

.nav-active {
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid #ffffff;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 0 170px;
  position: relative;
  top: 25rem;
}

h1 {
  padding-left: 5px;
}

p.description {
  color: #d0d6f9;
  line-height: 2;
  width: 40%;
}

.explore-btn {
  align-items: center;
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  color: black;
  display: flex;
  height: 274px;
  justify-content: center;
  position: absolute;
  top: 170px;
  right: 170px;
  text-align: center;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  transition-property: box-shadow;
  transition-duration: 0.25s;
  width: 274px;
}

.explore-btn:hover {
  box-shadow: 0px 0px 0px 88px rgba(255, 255, 255, 0.1);
  transition-property: box-shadow;
  transition-duration: 0.25s;
}

.explore-text {
  color: #0b0d17;
  font-family: "Bellefair", serif;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  body {
    background: center/cover url("../assets/home/background-home-mobile.jpg");
    background-attachment: fixed;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 35px;
    margin-top: 0;
    padding-left: 0;
  }

  h5 {
    margin-bottom: 25px;
    font-size: 1rem;
  }

  .logo {
    top: 25px;
    left: 35px;
  }

  .nav-hr {
    visibility: hidden;
  }

  .nav-hamburger {
    position: absolute;
    right: 35px;
    top: 38px;
    visibility: visible;
  }

  .nav-hamburger-close {
    position: fixed;
    right: 38px;
    top: 38px;
  }

  .hide {
    visibility: hidden;
  }

  .show {
    visibility: visible;
  }

  .nav-bar {
    visibility: hidden;
  }

  .nav-side-menu {
    background: linear-gradient(to right bottom, rgb(11, 13, 23, .9), rgba(208, 214, 249, .9) 180%);
    bottom: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: .25s;
    transition-property: opacity, visibility, width;
    visibility: hidden;
    width: 50%;
  }

  .close-menu {
    opacity: 0;
    visibility: hidden;
    width: 50%;
  }

  .open-menu {
    opacity: 1;
    visibility: visible;
    width: 65%;
  }

  .nav-side-menu::before {
    background-color: rgba(255, 255, 255, 0.04);
    filter: blur(1px);
    bottom: 0;
    position: inherit;
    right: 0;
    top: 0;
    width: 100%;
  }

  .nav-side-menu-content {
    position: relative;
    padding-left: 15%;
    top: 145px
  }

  .nav-text {
    margin: 0 0 50px 0;
    text-decoration: none;
  }

  .bottom-container {
    display: block;
    padding: 0 25px;
    text-align: center;
    top: 115px;
  }

  p.description {
    font-size: 0.9375rem;
    line-height: 1.5625;
    width: 65%;
    margin: 0 auto;
  }

  @media screen and (max-width: 500px) {
    p.description {
      width: 100%;
    }
  }

  .explore-btn {
    height: 150px;
    width: 150px;
  }

  .explore-text {
    font-size: 1.25rem;
  }

  .explore-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }

  .explore-btn {
    height: 150px;
    position: inherit;
    width: 150px;
  }
}


@media screen and (max-width: 1080px) and (min-width: 800px) {
  body {
    background: center/cover url("../assets/home/background-home-tablet.jpg");
    background-attachment: fixed;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 35px;
    padding-left: 0;
  }

  h5 {
    margin-bottom: 25px;
  }

  .logo {
    top: 25px;
    left: 35px;
  }

  .nav-hr {
    visibility: hidden;
  }

  .nav-hamburger {
    visibility: hidden;
  }

  .nav-bar {
    top: 0;
    width: 65%;
  }

  .nav-text {
    font-size: 0.875rem;
    margin: 0 15px;
  }

  .nav-bar:before {
    width: 100%;
  }

  .nav-number {
    display: none;
  }

  .bottom-container {
    display: block;
    top: 160px;
    text-align: center;
  }

  p.description {
    width: 85%;
    text-align: center;
    margin: 0 auto;
  }

  .explore-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }

  .explore-btn {
    height: 242px;
    position: inherit;
    width: 242px;
  }
}