body {
  color: #ffffff;
  height: 100vh;
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  margin: 0;
}

h1 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-size: 9.375rem;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  color: #ffffff;
  font-family: "Bellefiar", serif;
  font-size: 6.25rem;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

h5 {
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.75rem;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  font-weight: 400;
}

.subheading1 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 400;
}

.subheading2 {
  color: #ffffff;
  letter-spacing: 2.35px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-text {
  color: #ffffff;
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}