html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background: center/cover
    url("../assets/technology/background-technology-desktop.jpg");
  background-attachment: fixed;
}

h5 {
  color: #ffffff;
}

.logo {
  left: 65px;
  position: absolute;
  top: 75px;
}

.nav-hr {
  border-top: none;
  position: absolute;
  top: 90px;
  right: 795px;
  z-index: 1;
  left: 170px;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.04);
  display: flex;
  height: 96px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50px;
  text-align: center;
  width: 830px;
}

.nav-bar::before {
  background-color: rgba(255, 255, 255, 0.04);
  content: "";
  filter: blur(1px);
  height: 96px;
  position: inherit;
  width: 830px;
}

.nav-text {
  align-items: center;
  display: flex;
  margin: 0 25px;
  position: relative;
  text-decoration: none;
}

.nav-text:hover {
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.nav-number {
  margin-right: 5px;
}

.nav-active {
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid #ffffff;
}

.bottom-container {
  justify-content: space-between;
  padding: 0 0 0 170px;
  position: relative;
  top: 15rem;
}

.technology-heading {
  display: block;
}

.technology-heading-number {
  opacity: 0.25;
  padding-right: 25px;
}

.technology-body {
  display: flex;
  justify-content: space-between;
}

.technology-content {
  margin-top: 100px;
  display: flex;
}

.technology-navbar {
  padding-right: 70px;
}

.technology-nav {
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-family: "Bellefair", serif;
  font-size: 2rem;
  height: 80px;
  justify-content: center;
  margin-bottom: 50px;
  text-decoration: none;
  width: 80px;
}

.technology-nav:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.active {
  background-color: #fff;
  color: #0b0d17;
}

.subheading {
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

.terminology-heading {
  margin-top: 0;
  margin-bottom: 30px;
}

.terminology-description {
  color: #d0d6f9;
  line-height: 2;
  padding-right: 70px;
  width: 470px;
}

@media screen and (max-width: 800px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  body {
    background: center/cover
      url("../assets/technology/background-technology-mobile.jpg");
    background-attachment: fixed;
  }

  .logo {
    left: 24px;
    top: 24px;
  }

  .nav-hr {
    display: none;
  }

  .nav-bar {
    display: none;
  }

  .nav-hamburger {
    position: absolute;
    right: 25px;
    top: 38px;
    visibility: visible;
    z-index: 1;
  }

  .nav-hamburger-close {
    position: fixed;
    right: 25px;
    top: 38px;
  }

  .hide {
    visibility: hidden;
  }

  .show {
    visibility: visible;
  }

  .nav-bar {
    visibility: hidden;
  }

  .nav-side-menu {
    background: linear-gradient(
      to right bottom,
      rgb(11, 13, 23, 0.9),
      rgba(208, 214, 249, 0.9) 180%
    );
    bottom: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.25s;
    transition-property: opacity, visibility, width;
    visibility: hidden;
    width: 50%;
    z-index: 3;
  }

  .close-menu {
    opacity: 0;
    visibility: hidden;
    width: 50%;
  }

  .open-menu {
    opacity: 1;
    visibility: visible;
    width: 65%;
  }

  .nav-side-menu::before {
    background-color: rgba(255, 255, 255, 0.04);
    filter: blur(1px);
    bottom: 0;
    position: inherit;
    right: 0;
    top: 0;
    width: 100%;
  }

  .nav-side-menu-content {
    position: relative;
    padding-left: 15%;
    top: 145px;
  }

  .nav-text {
    height: 30px;
    letter-spacing: 2.7px;
    line-height: 19.2px;
    margin: 0 0 32px 0;
    text-decoration: none;
  }

  .nav-text:hover {
    border-top: 0;
    border-bottom: 0;
  }
  
  .nav-active {
    border-top: 0;
    border-bottom: 0;
    border-right: 4px solid #fff;
  }

  .bottom-container {
    top: 100px;
    padding: 0;
  }

  .technology-heading {
    font-size: 1.25rem;
    letter-spacing: 3.38px;
    line-height: 24px;
    margin: 0 0 32px;
    padding-left: 0;
    text-align: center;
  }

  .technology-body {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .technology-image {
    margin: 0 0 34px;
    width: 100%;
  }

  .technology-content {
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    text-align: center;
  }

  .technology-navbar {
    display: flex;
    margin-bottom: 26px;
    padding-right: 0;
  }

  .technology-nav {
    height: 40px;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 18.34px;
    margin: 0 8px 0;
    width: 40px;
  }

  .subheading {
    font-size: 0.875rem;
    letter-spacing: 2.36px;
    line-height: 16.8px;
    margin-bottom: 9px;
  }

  .terminology-heading {
    font-size: 1.5rem;
    line-height: 27.5px;
    margin-bottom: 16px;
  }

  p.terminology-description {
    font-size: 0.9375rem;
    line-height: 25px;
    margin: 0 24px;
    padding: 0 0 50px;
    width: auto;
  }
}

@media screen and (max-width: 1080px) and (min-width: 800px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  body {
    background: center/cover
      url("../assets/technology/background-technology-tablet.jpg");
    background-attachment: fixed;
  }

  .logo {
    left: 35px;
    top: 25px;
  }

  .nav-hr {
    display: none;
  }

  .nav-bar {
    top: 0;
    width: 65%;
    z-index: 3;
  }

  .nav-bar::before {
    width: 100%;
  }

  .nav-number {
    display: none;
  }

  .nav-text {
    font-size: 0.875rem;
    letter-spacing: 2.36px;
    line-height: 16.8px;
    margin: 0 15px;
  }

  .bottom-container {
    top: 136px;
    padding: 0;
  }

  .technology-heading {
    font-size: 1.25rem;
    letter-spacing: 3.38px;
    line-height: 24px;
    padding-left: 38.5px;
  }

  .technology-body {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .technology-image {
    margin: 60px 0 56px;
    width: 100%;
  }

  .technology-content {
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    text-align: center;
  }

  .technology-navbar {
    display: flex;
    margin-bottom: 44px;
    padding-right: 0;
  }

  .technology-nav {
    height: 60px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 27.5px;
    margin: 0 16px 0;
    width: 60px;
  }

  .subheading {
    letter-spacing: 2.7px;
    line-height: 19.2px;
    margin-bottom: 16px;
  }

  .terminology-heading {
    font-size: 2.5rem;
    line-height: 45.8px;
    margin-bottom: 16px;
  }

  p.terminology-description {
    line-height: 28px;
    margin: 0;
    padding: 0 0 50px 0;
  }
}
